.slide3 {
  ul {
    list-style: none;
    width: 70%;
    margin: auto;
    li {
      &:before {
        content: "-";
      }
    }
  }

  .btn-container {
    text-align: center;
    padding-top: 2rem;

    button {
      width: 25%;
    }
  }

}

