.slide5 {

  text-align: center;

  h1{
    margin: 1rem 0;
  }

  p {
    text-align: center;
    margin: 0.1rem 0;
    font-size: 0.8rem;
  }

  .photo-container {
    text-align: center;
    max-width: 570px;
    display: inline-block;
    .photo {
      display: inline-block;
      width: 11rem;
      vertical-align: middle;
      padding: 0.6rem 0;
      img {
        width: 7rem;
        height: auto;
        border-radius: 50%;
        border: solid 3px transparent;

        &:hover {
          border-color: $active-color;
        }
      }
      span {
        display: block;
        font-size: 0.9rem;
        &:nth-child(2) {
          font-weight: 600;
        }
        &:nth-child(3) {
          font-size: 0.7rem;
        }
      }
    }
  }

   .btn-container {
    text-align: center;
    padding-top: 1rem;

    button {
      //min-width: 23%;
    }
  }

}

