.slide4 {

  .block {
    box-sizing: border-box;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    &.wrong {
      h4:after, i:after {
        background-image: url($res-url + 'wrong_icon.png');
      }
    }
    &.right {
      h4:after, i:after {
        background-image: url($res-url + 'right_icon.png');
      }

      i {
        width: 8rem;
        height: 8rem;
        background-size: 90%;
        overflow: auto;
        margin: 0;

        &:after {
          bottom: 2rem;
          right: 1.5rem;
        }
      }
    }

    h4 {
      position: relative;
      text-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 1rem 0;

      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
        bottom: 0;
        margin-left: 10px;
      }
    }

    i {
      position: relative;
      width: 5.5rem;
      height: 5.5rem;
      display: inline-block;
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 1.5rem;

      &:last-child {
        margin: 0;
      }

      &:after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-size: 100%;
        background-repeat: no-repeat;
        bottom: 0;
        right: 0;
      }
    }

    i.wrong1 {
      background-image: url($res-url + 'wrong1.png');
    }
    i.wrong2 {
      background-image: url($res-url + 'wrong2.png');
    }
    i.wrong3 {
      background-image: url($res-url + 'wrong3.png');
    }
    i.right1 {
      background-image: url($res-url + 'right1.png');
    }
    i.right2 {
      background-image: url($res-url + 'right2.png');
    }
    i.right3 {
      background-image: url($res-url + 'right3.png');
    }
    i.right1 {

    }

    span {
      display: block;
      font-size: 0.9rem;
    }
  }

  .video-container {
    text-align: center;
    padding-top: 1rem;

    iframe, video {
      width: 20rem;
      height: auto;
      border: none;
    }
  }

  .btn-container {
    text-align: center;
    padding-top: 1.5rem;

    button {
      min-width: 20%;
    }
  }

}

