.slide3 {
  ul {
    list-style: none;
    width: 70%;
    margin: auto;
    li {
      &:before {
        content: "-";
      }
    }
  }

  h3 {
    text-align: center;
    margin-top: -23px;
    margin-bottom: 29px;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
  }

  .btn-container {
    text-align: center;
    padding-top: 2rem;

    button {
      width: 25%;
    }
  }

  .video {
    position: relative;
    text-align: center;
  }

  .video-container {
    position: absolute;
    top: -6%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    z-index: 10;

    embed {
      border: none;
    }
  }

}

