$res-url: './../res/';
$active-color: #f00035;
$header-height: 65px;
$footer-height: 45px;
$page-padding: 0 18%;

@font-face {
  font-family: Chickpeas;
  src: url($res-url + 'font/Chickpeas.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);


@import 'slide1';
@import 'slide2';
@import 'slide3';
@import 'slide4';
@import 'slide5';
@import 'slide6';
@import 'slide7';
@import 'slide8';

@import 'media_styles';

html {
  font-size: 16px;
}

body {
  background-image: url($res-url + 'background.png');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-size: 100%;
}

.mobile {
  display: none !important;
}

.swiper-container {
  width: 100%;
  height: calc(100% - #{$header-height + $footer-height});
  padding-top: $header-height;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.header {
  z-index: 10;
  height: $header-height;
  background-color: #060b10;
  -webkit-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.75);
  padding: $page-padding;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  cursor: default;

  & > * {
    display: inline-block;
    vertical-align: top;
  }

  .btn-container {
    display: none;
  }

  .label {
    background-color: $active-color;
    width: 22%;
    height: 110%;
    border-radius: 0 0 5px 5px;
    text-align: center;
    position: relative;
    float: left;
    overflow: hidden;
    -webkit-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.75);

    .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 75%;
      padding: 3%;

      span:first-child {
        font-family: Chickpeas;
        font-weight: 600;
        font-size: 2.1rem;
        display: block;
        line-height: $header-height / 2;
      }
      span:last-child {
        width: 299px;
        font-family: OpenSans;
        font-size: 0.5rem;
      }
    }
  }

  .menu {
    display: inline-block;
    width: 60%;
    font-size: 1.1rem;

    ul {
      list-style: none;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      padding: 0;

      li {
        display: inline-block;
        padding-right: 5%;
        vertical-align: middle;
        position: relative;

        ///TODO посчитать line-height в %
        line-height: $header-height;

        &:hover {
          color: $active-color;
        }

        &:last-child {
          padding-right: 0;

          &.active {
            &:after {
              right: 0;
            }
          }
        }

        &.active {
          color: $active-color;
          &:after {
            content: "";
            border-bottom: solid 3px #f00035;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 23%;
          }
        }

      }
    }
  }

  .phone {
    max-width: 18%;
    float: right;
    color: #fafafa;
    font-family: OpenSans;
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.2rem 0;
    p {
      margin: 0;

      &:last-child {
        color: #ff1856;
        font-size: 0.85rem;
        font-weight: 700;
        text-decoration: underline;
        line-height: 20px;
      }
    }
  }
}

.header-up {
  @extend .header;
  height: 3rem !important;
  background-color: #f00035 !important;
  margin: 0 !important;
  background-image: url($res-url + "burger.png");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 5% 50%;

  .menu {
    position: absolute;
    top: 3rem;
    max-width: 15rem !important;
    z-index: 2 !important;
    width: 80%;
    .label {
      display: block;
      width: 100%;
      height: 5rem;
      .content {
        span {
          font-size: 0.6rem;
        }
        span:first-child {
          font-size: 1.5rem;
        }
      }
    }
    ul {
      background: $active-color;
    }
    button {
      font-size: 0.9rem;
    }
  }
}

img.background-node {
  position: absolute;
  bottom: $footer-height - 13px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: auto;
}

.footer {
  height: $footer-height;
  background-color: #060b10;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: OpenSans sans-serif;
  font-size: 11px;
  text-align: center;
  z-index: 10;

  .content {
    height: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  p {
    margin: 0;

    &:first-child {
      padding-top: 0.1rem;
    }
  }
}

.slide {
  margin: $page-padding;
  overflow: hidden;
}

h1 {
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.btn-container {
  text-align: center;
}

button {
  min-width: 40%;
  height: 3rem;
  font-size: 0.9rem;
  font-weight: 400;
  background: url($res-url + 'buy_btn.png');
  background-size: 100% 100%;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.quote {
  text-align: right;
  span {
    display: block;

    &:first-child {
      font-size: 0.8rem;
      font-weight: 700;
    }
    &:last-child {
      font-family: 'Marck Script', cursive;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
.mobile-page {
  color: #fff;
};

.carousel {
  width: 500px;
  height: 150px;
  display: relative;
  margin: auto;

  img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }

  .arrow {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    padding: 1rem;
    box-sizing: border-box;

    &.arrow_right {
      background-image: url($res-url + 'arrow_right.png');
      right: 0;

      &:hover {
        background-image: url($res-url + 'arrow_right_active.png');
      }
    }

    &.arrow_left {
      background-image: url($res-url + 'arrow_left.png');
      left: 0;

      &:hover {
        background-image: url($res-url + 'arrow_left_active.png');
      }

    }
  }
}

.hidden {
  display: none !important;
}

.overflow-no {
  overflow: initial;
}

.modal {

    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;

  .ground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: black;
    opacity: 0.7;
  }

  .slide8 {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    margin: auto;
    margin-top: 5%;
  }
}


